In [3]:
example1 = "F:\\goeduhub\\file1.txt"
file1 = open(example1, "r")

In [4]:
file1.name

'F:\\goeduhub\\file1.txt'

In [5]:
file1.mode

'r'

In [6]:
A=file1.read()
A

'my name is deepak'

In [7]:
print(A)

my name is deepak

In [8]:
type(A)

str

In [9]:
file1.close()

In [10]:
with open(example1,"r") as file1:
    A=file1.read()
    print(A)

my name is deepak

In [12]:
file1.close()

In [13]:
print(A)

my name is deepak

In [30]:
with open(example1,"r") as file1:
    print(file1.read())

my name is arun

In [23]:
with open(example1,"r") as file1:
    print(file1.readline())

my nam

In [32]:
with open (example1,"w") as file1:
    file1.write("my name is arun")

In [17]:
import pandas as pd
P=pd.DataFrame({'a':["deepak","saini","rahul"],'b':["sain","deepa","gudu"]})

In [18]:
P.head()

        a      b
0  deepak   sain
1   saini  deepa
2   rahul   gudu

In [19]:
P['a']

0    deepak
1     saini
2     rahul
Name: a, dtype: object

In [20]:
P.ix[1,0]

C:\Users\DELL\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: DeprecationWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#ix-indexer-is-deprecated
  """Entry point for launching an IPython kernel.

'saini'

In [16]:
P.iloc[1,0]

'saini'

In [22]:
import numpy as np
np.array([1,-1])*np.array([1,1])

array([ 1, -1])

In [23]:
np.dot(np.array([1,-1]),np.array([1,1]))

0

In [7]:
# Day-2 Assignment
# Clean the Messy salary into integers for Data Processing
# salary = '$876,001' 
# Hint:
#     Remove the $
#     Remove the ,
#     Convert into integer
salary='$876,001'
A=salary[1:]
B=A.replace(",","")
int(B)

876001