In [1]:
import pandas as pd

In [2]:
import numpy as np

In [3]:
data=np.array(['g','o','e','d','u','h','u','b'])
data

array(['g', 'o', 'e', 'd', 'u', 'h', 'u', 'b'],
      dtype='<U1')

In [6]:
ser = pd.Series(data)
print(ser)

0    g
1    o
2    e
3    d
4    u
5    h
6    u
7    b
dtype: object

In [7]:
s1=pd.Series(np.random.random(5))
print(s1)

0    0.070801
1    0.953060
2    0.683221
3    0.805614
4    0.105370
dtype: float64

In [8]:
print(s1.index)

RangeIndex(start=0, stop=5, step=1)

In [9]:
s2=pd.Series(np.random.random(5),index=['a','b','c','d','e'])
print(s2)

a    0.388014
b    0.731427
c    0.075232
d    0.759763
e    0.847872
dtype: float64

In [10]:
print(s2.index)

Index(['a', 'b', 'c', 'd', 'e'], dtype='object')

In [12]:
data={'pi':3.1415,'e':2.71828}
print(data)
s3=pd.Series(data)
print(s3)

{'pi': 3.1415, 'e': 2.71828}
e     2.71828
pi    3.14150
dtype: float64

In [17]:
s4=pd.Series(1,index=range(10),name='ones')
print(s4)

0    1
1    1
2    1
3    1
4    1
5    1
6    1
7    1
8    1
9    1
Name: ones, dtype: int64

In [18]:
s1

0    0.070801
1    0.953060
2    0.683221
3    0.805614
4    0.105370
dtype: float64

In [19]:
s1[:2]

0    0.070801
1    0.953060
dtype: float64

In [21]:
print(s1[[2,1,0]])

2    0.683221
1    0.953060
0    0.070801
dtype: float64

In [23]:
s3['pi']

3.1415000000000002

In [24]:
print("median:",s1.median())

median: 0.6832209359514039

In [28]:
s1[s1>0]

0    0.070801
1    0.953060
2    0.683221
3    0.805614
4    0.105370
dtype: float64

In [29]:
s1[s1>s1.median()]

1    0.953060
3    0.805614
dtype: float64

In [30]:
np.exp(s1)

0    1.073368
1    2.593633
2    1.980246
3    2.238071
4    1.111122
dtype: float64

In [31]:
s4.values

array([1, 1, 1, 1, 1, 1, 1, 1, 1, 1], dtype=int64)

In [32]:
s5=pd.Series(range(6))
print(s5)
s5[1:]+s5[:-1]

0    0
1    1
2    2
3    3
4    4
5    5
dtype: int32

0    NaN
1    2.0
2    4.0
3    6.0
4    8.0
5    NaN
dtype: float64

In [33]:
s5[2:]+5

2     7
3     8
4     9
5    10
dtype: int32

In [34]:
s1.size

5

In [35]:
s1.values

array([ 0.07080149,  0.95305958,  0.68322094,  0.80561429,  0.10537012])

In [36]:
s1.head

<bound method NDFrame.head of 0    0.070801
1    0.953060
2    0.683221
3    0.805614
4    0.105370
dtype: float64>

In [37]:
s1.tail

<bound method NDFrame.tail of 0    0.070801
1    0.953060
2    0.683221
3    0.805614
4    0.105370
dtype: float64>

In [38]:
s1.empty

False

In [39]:
s1.dtype

dtype('float64')

In [41]:
d=pd.DataFrame({'Name':pd.Series(['Alice','Bob','chris']),
                'Age':pd.Series([21,25,23])})

In [42]:
print(d)

   Age   Name
0   21  Alice
1   25    Bob
2   23  chris

In [44]:
d['height']=pd.Series([5.2,6.0,6.5])
d

   Age   Name  height
0   21  Alice     5.2
1   25    Bob     6.0
2   23  chris     6.5

In [46]:
d['salary']=pd.Series([5000,6000,7000])
d

   Age   Name  height  salary
0   21  Alice     5.2    5000
1   25    Bob     6.0    6000
2   23  chris     6.5    7000

In [47]:
d.columns

Index(['Age', 'Name', 'height', 'salary'], dtype='object')

In [48]:
d['height']

0    5.2
1    6.0
2    6.5
Name: height, dtype: float64

In [57]:
type(d)

pandas.core.frame.DataFrame

In [58]:
d.size

12

In [59]:
d.shape

(3, 4)

In [60]:
d.ndim

2

In [62]:
d.describe()

        Age    height  salary
count   3.0  3.000000     3.0
mean   23.0  5.900000  6000.0
std     2.0  0.655744  1000.0
min    21.0  5.200000  5000.0
25%    22.0  5.600000  5500.0
50%    23.0  6.000000  6000.0
75%    24.0  6.250000  6500.0
max    25.0  6.500000  7000.0

In [63]:
d.mean()
d['salary'].mean()

6000.0

In [65]:
d.std()

Age          2.000000
height       0.655744
salary    1000.000000
dtype: float64

In [70]:
d.head(50).mean()

Age         23.0
height       5.9
salary    6000.0
dtype: float64

In [71]:
d[:50].mean()

Age         23.0
height       5.9
salary    6000.0
dtype: float64

In [73]:
d=pd.read_csv("D://goeduhub//salaries.csv")
d

         rank discipline  phd  service     sex  salary
0        Prof          B   56       49    Male  186960
1        Prof          A   12        6    Male   93000
2        Prof          A   23       20    Male  110515
3        Prof          A   40       31    Male  131205
4        Prof          B   20       18    Male  104800
5        Prof          A   20       20    Male  122400
6   AssocProf          A   20       17    Male   81285
7        Prof          A   18       18    Male  126300
8        Prof          A   29       19    Male   94350
9        Prof          A   51       51    Male   57800
10       Prof          B   39       33    Male  128250
11       Prof          B   23       23    Male  134778
12   AsstProf          B    1        0    Male   88000
13       Prof          B   35       33    Male  162200
14       Prof          B   25       19    Male  153750
15       Prof          B   17        3    Male  150480
16   AsstProf          B    8        3    Male   75044
17   AsstProf          B    4        0    Male   92000
18       Prof          A   19        7    Male  107300
19       Prof          A   29       27    Male  150500
20   AsstProf          B    4        4    Male   92000
21       Prof          A   33       30    Male  103106
22   AsstProf          A    4        2    Male   73000
23   AsstProf          A    2        0    Male   85000
24       Prof          A   30       23    Male   91100
25       Prof          B   35       31    Male   99418
26       Prof          A   38       19    Male  148750
27       Prof          A   45       43    Male  155865
28   AsstProf          B    7        2    Male   91300
29       Prof          B   21       20    Male  123683
..        ...        ...  ...      ...     ...     ...
48       Prof          B   17       17  Female  111512
49       Prof          B   17       18  Female  122960
50   AsstProf          B   10        5  Female   97032
51       Prof          B   20       14  Female  127512
52       Prof          A   12        0  Female  105000
53   AsstProf          A    5        3  Female   73500
54  AssocProf          A   25       22  Female   62884
55   AsstProf          A    2        0  Female   72500
56  AssocProf          A   10        8  Female   77500
57   AsstProf          A    3        1  Female   72500
58       Prof          B   36       26  Female  144651
59  AssocProf          B   12       10  Female  103994
60   AsstProf          B    3        3  Female   92000
61  AssocProf          B   13       10  Female  103750
62  AssocProf          B   14        7  Female  109650
63       Prof          A   29       27  Female   91000
64  AssocProf          A   26       24  Female   73300
65       Prof          A   36       19  Female  117555
66   AsstProf          A    7        6  Female   63100
67       Prof          A   17       11  Female   90450
68   AsstProf          A    4        2  Female   77500
69       Prof          A   28        7  Female  116450
70   AsstProf          A    8        3  Female   78500
71  AssocProf          B   12        9  Female   71065
72       Prof          B   24       15  Female  161101
73       Prof          B   18       10  Female  105450
74  AssocProf          B   19        6  Female  104542
75       Prof          B   17       17  Female  124312
76       Prof          A   28       14  Female  109954
77       Prof          A   23       15  Female  109646

[78 rows x 6 columns]

In [76]:
d_sex=d.groupby('sex')
d_sex

In [77]:
d.groupby('rank')
d.mean

<bound method DataFrame.mean of          rank discipline  phd  service     sex  salary
0        Prof          B   56       49    Male  186960
1        Prof          A   12        6    Male   93000
2        Prof          A   23       20    Male  110515
3        Prof          A   40       31    Male  131205
4        Prof          B   20       18    Male  104800
5        Prof          A   20       20    Male  122400
6   AssocProf          A   20       17    Male   81285
7        Prof          A   18       18    Male  126300
8        Prof          A   29       19    Male   94350
9        Prof          A   51       51    Male   57800
10       Prof          B   39       33    Male  128250
11       Prof          B   23       23    Male  134778
12   AsstProf          B    1        0    Male   88000
13       Prof          B   35       33    Male  162200
14       Prof          B   25       19    Male  153750
15       Prof          B   17        3    Male  150480
16   AsstProf          B    8        3    Male   75044
17   AsstProf          B    4        0    Male   92000
18       Prof          A   19        7    Male  107300
19       Prof          A   29       27    Male  150500
20   AsstProf          B    4        4    Male   92000
21       Prof          A   33       30    Male  103106
22   AsstProf          A    4        2    Male   73000
23   AsstProf          A    2        0    Male   85000
24       Prof          A   30       23    Male   91100
25       Prof          B   35       31    Male   99418
26       Prof          A   38       19    Male  148750
27       Prof          A   45       43    Male  155865
28   AsstProf          B    7        2    Male   91300
29       Prof          B   21       20    Male  123683
..        ...        ...  ...      ...     ...     ...
48       Prof          B   17       17  Female  111512
49       Prof          B   17       18  Female  122960
50   AsstProf          B   10        5  Female   97032
51       Prof          B   20       14  Female  127512
52       Prof          A   12        0  Female  105000
53   AsstProf          A    5        3  Female   73500
54  AssocProf          A   25       22  Female   62884
55   AsstProf          A    2        0  Female   72500
56  AssocProf          A   10        8  Female   77500
57   AsstProf          A    3        1  Female   72500
58       Prof          B   36       26  Female  144651
59  AssocProf          B   12       10  Female  103994
60   AsstProf          B    3        3  Female   92000
61  AssocProf          B   13       10  Female  103750
62  AssocProf          B   14        7  Female  109650
63       Prof          A   29       27  Female   91000
64  AssocProf          A   26       24  Female   73300
65       Prof          A   36       19  Female  117555
66   AsstProf          A    7        6  Female   63100
67       Prof          A   17       11  Female   90450
68   AsstProf          A    4        2  Female   77500
69       Prof          A   28        7  Female  116450
70   AsstProf          A    8        3  Female   78500
71  AssocProf          B   12        9  Female   71065
72       Prof          B   24       15  Female  161101
73       Prof          B   18       10  Female  105450
74  AssocProf          B   19        6  Female  104542
75       Prof          B   17       17  Female  124312
76       Prof          A   28       14  Female  109954
77       Prof          A   23       15  Female  109646

[78 rows x 6 columns]>

In [78]:
d.groupby('sex')
d.mean

<bound method DataFrame.mean of          rank discipline  phd  service     sex  salary
0        Prof          B   56       49    Male  186960
1        Prof          A   12        6    Male   93000
2        Prof          A   23       20    Male  110515
3        Prof          A   40       31    Male  131205
4        Prof          B   20       18    Male  104800
5        Prof          A   20       20    Male  122400
6   AssocProf          A   20       17    Male   81285
7        Prof          A   18       18    Male  126300
8        Prof          A   29       19    Male   94350
9        Prof          A   51       51    Male   57800
10       Prof          B   39       33    Male  128250
11       Prof          B   23       23    Male  134778
12   AsstProf          B    1        0    Male   88000
13       Prof          B   35       33    Male  162200
14       Prof          B   25       19    Male  153750
15       Prof          B   17        3    Male  150480
16   AsstProf          B    8        3    Male   75044
17   AsstProf          B    4        0    Male   92000
18       Prof          A   19        7    Male  107300
19       Prof          A   29       27    Male  150500
20   AsstProf          B    4        4    Male   92000
21       Prof          A   33       30    Male  103106
22   AsstProf          A    4        2    Male   73000
23   AsstProf          A    2        0    Male   85000
24       Prof          A   30       23    Male   91100
25       Prof          B   35       31    Male   99418
26       Prof          A   38       19    Male  148750
27       Prof          A   45       43    Male  155865
28   AsstProf          B    7        2    Male   91300
29       Prof          B   21       20    Male  123683
..        ...        ...  ...      ...     ...     ...
48       Prof          B   17       17  Female  111512
49       Prof          B   17       18  Female  122960
50   AsstProf          B   10        5  Female   97032
51       Prof          B   20       14  Female  127512
52       Prof          A   12        0  Female  105000
53   AsstProf          A    5        3  Female   73500
54  AssocProf          A   25       22  Female   62884
55   AsstProf          A    2        0  Female   72500
56  AssocProf          A   10        8  Female   77500
57   AsstProf          A    3        1  Female   72500
58       Prof          B   36       26  Female  144651
59  AssocProf          B   12       10  Female  103994
60   AsstProf          B    3        3  Female   92000
61  AssocProf          B   13       10  Female  103750
62  AssocProf          B   14        7  Female  109650
63       Prof          A   29       27  Female   91000
64  AssocProf          A   26       24  Female   73300
65       Prof          A   36       19  Female  117555
66   AsstProf          A    7        6  Female   63100
67       Prof          A   17       11  Female   90450
68   AsstProf          A    4        2  Female   77500
69       Prof          A   28        7  Female  116450
70   AsstProf          A    8        3  Female   78500
71  AssocProf          B   12        9  Female   71065
72       Prof          B   24       15  Female  161101
73       Prof          B   18       10  Female  105450
74  AssocProf          B   19        6  Female  104542
75       Prof          B   17       17  Female  124312
76       Prof          A   28       14  Female  109954
77       Prof          A   23       15  Female  109646

[78 rows x 6 columns]>

In [81]:
#if we use double brackets pandas will produce a dataframe.
d.groupby('sex')[['salary']].mean()

        salary
sex
Female  101002
Male    115045

In [82]:
d_sub=d[d['salary']>120000]
d_sub.head()

    rank discipline  phd  service   sex  salary
0   Prof          B   56       49  Male  186960
3   Prof          A   40       31  Male  131205
5   Prof          A   20       20  Male  122400
7   Prof          A   18       18  Male  126300
10  Prof          B   39       33  Male  128250

In [83]:
d.size

468

In [86]:
d_w=d[d['sex']=="female"]
d_w.head()

Empty DataFrame
Columns: [rank, discipline, phd, service, sex, salary]
Index: []

In [96]:
d[d['salaries']>100000].groupby('sex')['salary'].count()

KeyError: 'salaries'