# Python for Data Analysis

#### Research Computing Services
Website: [goeduhub](https://www.goeduhub.com)

In [1]:
-

Pandas is a python package that deals mostly with :
- **Series**  (1d homogeneous array)
- **DataFrame** (2d labeled heterogeneous array) 
- **Panel** (general 3d array)

### Pandas Series

Pandas *Series* is one-dimentional labeled array containing data of the same type (integers, strings, floating point numbers, Python objects, etc. ). The axis labels are often referred to as *index*.

In [1]:
# Example of creating Pandas series :
import pandas as pd
import numpy as np
s1 = pd.Series( np.random.randn(4) )
print(s1)

0    0.478151
1    2.235252
2    0.892964
3    0.153621
dtype: float64

We did not pass any index, so by default, it assigned the indexes ranging from 0 to len(data)-1

In [7]:
# View index values
print(s1.index)

RangeIndex(start=0, stop=5, step=1)

In [8]:
# Creating Pandas series with index:
s2 = pd.Series( np.random.randn(5), index=['a', 'b', 'c', 'd', 'e'] )
print(s2)

a   -1.961167
b    1.215244
c    0.382584
d   -0.654305
e    1.050373
dtype: float64

In [ ]:
# View index values
print(s2.index)

In [11]:
# Create a Series from dictionary
data = {'pi': 3.14, 'e': 2.71}  # dictionary
print(data)
s3 = pd.Series ( data )
print(s3)

{'pi': 3.14, 'e': 2.71}
pi    3.14
e     2.71
dtype: float64

In [12]:
# reordering the elements
s4 = pd.Series ( data, index = ['e', 'pi', 'tau'])
print(s4)

e      2.71
pi     3.14
tau     NaN
dtype: float64

NAN (non a number) - is used to specify a missing value in Pandas.

In [13]:
# Creating a Pandas Series object from a single number:
s5 = pd.Series( 2, index = range(10), name='Ones')
print(s5)

0    2
1    2
2    2
3    2
4    2
5    2
6    2
7    2
8    2
9    2
Name: Ones, dtype: int64

In [14]:
s1

0    0.959213
1   -0.526977
2    0.665083
3    0.934385
4   -0.893407
dtype: float64

In [15]:
# Many ways to "slice" Pandas series (series have zero-based index by default):
s1[3]  # returns 4th element

0.9343853603923215

In [16]:
s1[:2] # First 2 elements

0    0.959213
1   -0.526977
dtype: float64

In [17]:
print( s1[ [2,1,0]])  # Elements out of order

2    0.665083
1   -0.526977
0    0.959213
dtype: float64

In [18]:
#Slicing series using index label (access series like a dictionary)

s4['pi']

3.14

In [19]:
dir(s4)

['T',
 '_AXIS_ALIASES',
 '_AXIS_IALIASES',
 '_AXIS_LEN',
 '_AXIS_NAMES',
 '_AXIS_NUMBERS',
 '_AXIS_ORDERS',
 '_AXIS_REVERSED',
 '_AXIS_SLICEMAP',
 '__abs__',
 '__add__',
 '__and__',
 '__array__',
 '__array_prepare__',
 '__array_priority__',
 '__array_wrap__',
 '__bool__',
 '__bytes__',
 '__class__',
 '__contains__',
 '__copy__',
 '__deepcopy__',
 '__delattr__',
 '__delitem__',
 '__dict__',
 '__dir__',
 '__div__',
 '__divmod__',
 '__doc__',
 '__eq__',
 '__finalize__',
 '__float__',
 '__floordiv__',
 '__format__',
 '__ge__',
 '__getattr__',
 '__getattribute__',
 '__getitem__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__iand__',
 '__ifloordiv__',
 '__imod__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__int__',
 '__invert__',
 '__ior__',
 '__ipow__',
 '__isub__',
 '__iter__',
 '__itruediv__',
 '__ixor__',
 '__le__',
 '__len__',
 '__long__',
 '__lt__',
 '__matmul__',
 '__mod__',
 '__module__',
 '__mul__',
 '__ne__',
 '__neg__',
 '__new__',
 '__nonzero__',
 '__or__',
 '__pos__',
 '__pow__',
 '__radd__',
 '__rand__',
 '__rdiv__',
 '__rdivmod__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rfloordiv__',
 '__rmatmul__',
 '__rmod__',
 '__rmul__',
 '__ror__',
 '__round__',
 '__rpow__',
 '__rsub__',
 '__rtruediv__',
 '__rxor__',
 '__setattr__',
 '__setitem__',
 '__setstate__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__truediv__',
 '__unicode__',
 '__weakref__',
 '__xor__',
 '_accessors',
 '_add_numeric_operations',
 '_add_series_only_operations',
 '_add_series_or_dataframe_operations',
 '_agg_by_level',
 '_agg_examples_doc',
 '_agg_see_also_doc',
 '_aggregate',
 '_aggregate_multiple_funcs',
 '_align_frame',
 '_align_series',
 '_binop',
 '_box_item_values',
 '_builtin_table',
 '_can_hold_na',
 '_check_inplace_setting',
 '_check_is_chained_assignment_possible',
 '_check_label_or_level_ambiguity',
 '_check_percentile',
 '_check_setitem_copy',
 '_clear_item_cache',
 '_clip_with_one_bound',
 '_clip_with_scalar',
 '_consolidate',
 '_consolidate_inplace',
 '_construct_axes_dict',
 '_construct_axes_dict_for_slice',
 '_construct_axes_dict_from',
 '_construct_axes_from_arguments',
 '_constructor',
 '_constructor_expanddim',
 '_constructor_sliced',
 '_convert',
 '_create_indexer',
 '_cython_table',
 '_deprecations',
 '_dir_additions',
 '_dir_deletions',
 '_drop_axis',
 '_drop_labels_or_levels',
 '_expand_axes',
 '_find_valid_index',
 '_formatting_values',
 '_from_axes',
 '_get_axis',
 '_get_axis_name',
 '_get_axis_number',
 '_get_axis_resolvers',
 '_get_block_manager_axis',
 '_get_bool_data',
 '_get_cacher',
 '_get_index_resolvers',
 '_get_item_cache',
 '_get_label_or_level_values',
 '_get_numeric_data',
 '_get_value',
 '_get_values',
 '_get_values_tuple',
 '_get_with',
 '_gotitem',
 '_iget_item_cache',
 '_index',
 '_indexed_same',
 '_info_axis',
 '_info_axis_name',
 '_info_axis_number',
 '_init_dict',
 '_init_mgr',
 '_internal_names',
 '_internal_names_set',
 '_is_builtin_func',
 '_is_cached',
 '_is_copy',
 '_is_cython_func',
 '_is_datelike_mixed_type',
 '_is_homogeneous_type',
 '_is_label_or_level_reference',
 '_is_label_reference',
 '_is_level_reference',
 '_is_mixed_type',
 '_is_numeric_mixed_type',
 '_is_view',
 '_ix',
 '_ixs',
 '_map_values',
 '_maybe_cache_changed',
 '_maybe_update_cacher',
 '_metadata',
 '_ndarray_values',
 '_needs_reindex_multi',
 '_obj_with_exclusions',
 '_protect_consolidate',
 '_reduce',
 '_reindex_axes',
 '_reindex_indexer',
 '_reindex_multi',
 '_reindex_with_indexers',
 '_repr_data_resource_',
 '_repr_latex_',
 '_reset_cache',
 '_reset_cacher',
 '_selected_obj',
 '_selection',
 '_selection_list',
 '_selection_name',
 '_set_as_cached',
 '_set_axis',
 '_set_axis_name',
 '_set_is_copy',
 '_set_item',
 '_set_labels',
 '_set_name',
 '_set_subtyp',
 '_set_value',
 '_set_values',
 '_set_with',
 '_set_with_engine',
 '_setup_axes',
 '_shallow_copy',
 '_slice',
 '_stat_axis',
 '_stat_axis_name',
 '_stat_axis_number',
 '_take',
 '_to_dict_of_blocks',
 '_try_aggregate_string_function',
 '_typ',
 '_unpickle_series_compat',
 '_update_inplace',
 '_validate_dtype',
 '_values',
 '_where',
 '_xs',
 'abs',
 'add',
 'add_prefix',
 'add_suffix',
 'agg',
 'aggregate',
 'align',
 'all',
 'any',
 'append',
 'apply',
 'argmax',
 'argmin',
 'argsort',
 'array',
 'as_matrix',
 'asfreq',
 'asof',
 'astype',
 'at',
 'at_time',
 'autocorr',
 'axes',
 'base',
 'between',
 'between_time',
 'bfill',
 'bool',
 'clip',
 'clip_lower',
 'clip_upper',
 'combine',
 'combine_first',
 'compound',
 'compress',
 'copy',
 'corr',
 'count',
 'cov',
 'cummax',
 'cummin',
 'cumprod',
 'cumsum',
 'data',
 'describe',
 'diff',
 'div',
 'divide',
 'divmod',
 'dot',
 'drop',
 'drop_duplicates',
 'droplevel',
 'dropna',
 'dtype',
 'dtypes',
 'duplicated',
 'e',
 'empty',
 'eq',
 'equals',
 'ewm',
 'expanding',
 'factorize',
 'ffill',
 'fillna',
 'filter',
 'first',
 'first_valid_index',
 'flags',
 'floordiv',
 'from_array',
 'ftype',
 'ftypes',
 'ge',
 'get',
 'get_dtype_counts',
 'get_ftype_counts',
 'get_values',
 'groupby',
 'gt',
 'hasnans',
 'head',
 'hist',
 'iat',
 'idxmax',
 'idxmin',
 'iloc',
 'imag',
 'index',
 'infer_objects',
 'interpolate',
 'is_monotonic',
 'is_monotonic_decreasing',
 'is_monotonic_increasing',
 'is_unique',
 'isin',
 'isna',
 'isnull',
 'item',
 'items',
 'itemsize',
 'iteritems',
 'ix',
 'keys',
 'kurt',
 'kurtosis',
 'last',
 'last_valid_index',
 'le',
 'loc',
 'lt',
 'mad',
 'map',
 'mask',
 'max',
 'mean',
 'median',
 'memory_usage',
 'min',
 'mod',
 'mode',
 'mul',
 'multiply',
 'name',
 'nbytes',
 'ndim',
 'ne',
 'nlargest',
 'nonzero',
 'notna',
 'notnull',
 'nsmallest',
 'nunique',
 'pct_change',
 'pi',
 'pipe',
 'plot',
 'pop',
 'pow',
 'prod',
 'product',
 'ptp',
 'put',
 'quantile',
 'radd',
 'rank',
 'ravel',
 'rdiv',
 'rdivmod',
 'real',
 'reindex',
 'reindex_axis',
 'reindex_like',
 'rename',
 'rename_axis',
 'reorder_levels',
 'repeat',
 'replace',
 'resample',
 'reset_index',
 'rfloordiv',
 'rmod',
 'rmul',
 'rolling',
 'round',
 'rpow',
 'rsub',
 'rtruediv',
 'sample',
 'searchsorted',
 'select',
 'sem',
 'set_axis',
 'shape',
 'shift',
 'size',
 'skew',
 'slice_shift',
 'sort_index',
 'sort_values',
 'squeeze',
 'std',
 'strides',
 'sub',
 'subtract',
 'sum',
 'swapaxes',
 'swaplevel',
 'tail',
 'take',
 'tau',
 'timetuple',
 'to_clipboard',
 'to_csv',
 'to_dense',
 'to_dict',
 'to_excel',
 'to_frame',
 'to_hdf',
 'to_json',
 'to_latex',
 'to_list',
 'to_msgpack',
 'to_numpy',
 'to_period',
 'to_pickle',
 'to_sparse',
 'to_sql',
 'to_string',
 'to_timestamp',
 'to_xarray',
 'transform',
 'transpose',
 'truediv',
 'truncate',
 'tshift',
 'tz_convert',
 'tz_localize',
 'unique',
 'unstack',
 'update',
 'value_counts',
 'values',
 'var',
 'view',
 'where',
 'xs']

In [20]:
# Series can be used as ndarray:
print("Median:" , s4.median())

Median: 2.925

In [21]:
s1[s1 > 0]

0    0.959213
2    0.665083
3    0.934385
dtype: float64

In [22]:
# numpy functions can be used on series as usual:
s4[s4 > s4.median()]

pi    3.14
dtype: float64

In [12]:
# vector operations:
np.exp(s1)

0    0.764025
1    3.151412
2    0.446194
3    5.695527
4    2.146554
dtype: float64

In [26]:
# Unlike ndarray Series automatically allign the data based on label:
s5 = pd.Series (range(6))
print(s5)
s5[1:] + s5[:-1]

0    0
1    1
2    2
3    3
4    4
5    5
dtype: int64

0    NaN
1    2.0
2    4.0
3    6.0
4    8.0
5    NaN
dtype: float64

#### Popular Attributes and Methods:

|  Attribute/Method | Description |
|-----|-----|
| dtype | data type of values in series |
| empty | True if series is empty |
| size | number of elements |
| values | Returns values as ndarray |
| head() | First n elements |
| tail() | Last n elements |

*Exercise*

In [27]:
# Create a series of your choice and explore it
# <your code goes here >
mys = pd.Series( np.random.randn(21))
print(mys)

0     0.929973
1    -0.217954
2     1.094272
3     0.633584
4     0.295769
5     2.078906
6    -0.180288
7     0.780595
8     0.813640
9     0.869844
10   -1.733757
11    0.954576
12    1.328466
13    0.475798
14    1.482985
15    1.439856
16   -1.475343
17    1.831978
18    1.296692
19    0.928219
20    0.727895
dtype: float64

In [28]:
mys.head()

0    0.929973
1   -0.217954
2    1.094272
3    0.633584
4    0.295769
dtype: float64

In [29]:
mys.empty

False

### Pandas DataFrame

Pandas *DataFrame* is two-dimensional, size-mutable, heterogeneous tabular data structure with labeled rows and columns ( axes ). Can be thought of a dictionary-like container to store python Series objects.

In [31]:
d =  pd.DataFrame({ 'Name': pd.Series(['Alice','Bob','Chris']), 
                  'Age': pd.Series([ 21,25,23]) } )
print(d)

    Name  Age
0  Alice   21
1    Bob   25
2  Chris   23

In [ ]:
#Add a new column:
d['height'] = pd.Series([5.2,6.0,5.6])

In [38]:
#Read csv file
d = pd.read_csv("C:/Users/nandanicomputer/Desktop/python/Salaries.csv")

In [40]:
#Display a few first records
d.head(10)

        rank discipline  phd  service   sex  salary
0       Prof          B   56       49  Male  186960
1       Prof          A   12        6  Male   93000
2       Prof          A   23       20  Male  110515
3       Prof          A   40       31  Male  131205
4       Prof          B   20       18  Male  104800
5       Prof          A   20       20  Male  122400
6  AssocProf          A   20       17  Male   81285
7       Prof          A   18       18  Male  126300
8       Prof          A   29       19  Male   94350
9       Prof          A   51       51  Male   57800

---
*Excersize*

In [ ]:
#Display first 10 records
# <your code goes here>

In [ ]:
#Display first 20 records
# <your code goes here>

In [41]:
#Display the last 5 records
# <your code goes here>
d.tail(7)

         rank discipline  phd  service     sex  salary
71  AssocProf          B   12        9  Female   71065
72       Prof          B   24       15  Female  161101
73       Prof          B   18       10  Female  105450
74  AssocProf          B   19        6  Female  104542
75       Prof          B   17       17  Female  124312
76       Prof          A   28       14  Female  109954
77       Prof          A   23       15  Female  109646

---

In [42]:
#Identify the type of df object
type(df)

pandas.core.frame.DataFrame

In [43]:
#Check the type of a column "salary"
df['salary'].dtype

dtype('int64')

In [44]:
#List the types of all columns
df.dtypes

rank          object
discipline    object
phd            int64
service        int64
sex           object
salary         int64
dtype: object

In [45]:
#List the column names
df.columns

Index(['rank', 'discipline', 'phd', 'service', 'sex', 'salary'], dtype='object')

In [46]:
#List the row labels and the column names
df.axes

[RangeIndex(start=0, stop=78, step=1),
 Index(['rank', 'discipline', 'phd', 'service', 'sex', 'salary'], dtype='object')]

In [47]:
#Number of dimensions
df.ndim

2

In [48]:
#Total number of elements in the Data Frame
df.size

468

In [50]:
#Number of rows and columns
d.shape

(78, 6)

In [51]:
#Output basic statistics for the numeric columns
df.describe()

             phd    service         salary
count  78.000000  78.000000      78.000000
mean   19.705128  15.051282  108023.782051
std    12.498425  12.139768   28293.661022
min     1.000000   0.000000   57800.000000
25%    10.250000   5.250000   88612.500000
50%    18.500000  14.500000  104671.000000
75%    27.750000  20.750000  126774.750000
max    56.000000  51.000000  186960.000000

In [55]:
#Calculate mean for all numeric columns
d.mean()

phd            19.705128
service        15.051282
salary     108023.782051
dtype: float64

---
*Excersize*

In [56]:
#Calculate the standard deviation (std() method) for all numeric columns
# <your code goes here>
d.std()

phd           12.498425
service       12.139768
salary     28293.661022
dtype: float64

In [ ]:
#Calculate average of the columns in the first 50 rows
# <your code goes here>

---
### Data slicing and grouping

In [57]:
#Extract a column by name (method 1)
d['sex'].head()

0    Male
1    Male
2    Male
3    Male
4    Male
Name: sex, dtype: object

In [ ]:
#Extract a column name (method 2)

---
*Excersize*

In [ ]:
#Calculate the basic statistics for the salary column (used describe() method)
# <your code goes here>

In [ ]:
#Calculate how many values in the salary column (use count() method)
# <your code goes here>

In [ ]:
#Calculate the average salary

---

In [ ]:
#Group data using rank
df_rank = df.groupby('rank')

In [ ]:
#Calculate mean of all numeric columns for the grouped object
df_rank.mean()

In [ ]:
df.groupby('sex').mean()

In [ ]:
#Calculate the mean salary for men and women. The following produce Pandas Series (single brackets around salary)
df.groupby('sex')['salary'].mean()

In [ ]:
# If we use double brackets Pandas will produce a DataFrame
df.groupby('sex')[['salary']].mean()

In [ ]:
# Group using 2 variables - sex and rank:
df.groupby(['rank','sex'], sort=True)[['salary']].mean()

---
*Excersize*

In [ ]:
# Group data by the discipline and find the average salary for each group

---
### Filtering

In [ ]:
#Select observation with the value in the salary column > 120K
df_sub = df[ df['salary'] > 120000]
df_sub.head()

In [ ]:
df_sub.axes

In [ ]:
#Select data for female professors
df_w = df[ df['sex'] == 'Female']
df_w.head()

---
*Excersize*

In [ ]:
# Using filtering, find the mean value of the salary for the discipline A
df[ df['discipline'] =='A'].mean().round(2)

In [ ]:
# Challange:
# Extract (filter) only observations with high salary ( > 100K) 
# and find how many female and male professors in each group

---
### More on slicing the dataset

In [ ]:
#Select column salary
df1 = df['salary']

In [ ]:
#Check data type of the result
type(df1)

In [ ]:
#Look at the first few elements of the output
df1.head()

In [ ]:
#Select column salary and make the output to be a data frame
df2 = df[['salary']]

In [ ]:
#Check the type
type(df2)

In [ ]:
#Select a subset of rows (based on their position):
# Note 1: The location of the first row is 0
# Note 2: The last value in the range is not included
df[0:10]

In [ ]:
#If we want to select both rows and columns we can use method .loc
df.loc[10:20,['rank', 'sex','salary']]

In [ ]:
df_sub.head(15)

In [ ]:
#Let's see what we get for our df_sub data frame
# Method .loc subset the data frame based on the labels:
df_sub.loc[10:20,['rank','sex','salary']]

In [ ]:
#  Unlike method .loc, method iloc selects rows (and columns) by poistion:
df_sub.iloc[10:20, [0,3,4,5]]

### Sorting the Data

In [ ]:
#Sort the data frame by yrs.service and create a new data frame
df_sorted = df.sort_values(by = 'service')
df_sorted.head()

In [ ]:
#Sort the data frame by yrs.service and overwrite the original dataset
df.sort_values(by = 'service', ascending = False, inplace = True)
df.head()

In [ ]:
# Restore the original order (by sorting using index)
df.sort_index(axis=0, ascending = True, inplace = True)
df.head()

*Excersize*

In [ ]:
# Sort data frame by the salary (in descending order) and display the first few records of the output (head)

---

In [ ]:
#Sort the data frame using 2 or more columns:
df_sorted = df.sort_values(by = ['service', 'salary'], ascending = [True,False])
df_sorted.head(10)

### Missing Values

In [ ]:
# Read a dataset with missing values
flights = pd.read_csv("http://rcs.bu.edu/examples/python/data_analysis/flights.csv")
flights.head()

In [ ]:
# Select the rows that have at least one missing value
flights[flights.isnull().any(axis=1)].head()

In [ ]:
# Filter all the rows where arr_delay value is missing:
flights1 = flights[ flights['arr_delay'].notnull( )]
flights1.head()

In [ ]:
# Remove all the observations with missing values
flights2 = flights.dropna()

In [ ]:
# Fill missing values with zeros
nomiss =flights['dep_delay'].fillna(0)
nomiss.isnull().any()

---
*Excersize*

In [ ]:
# Count how many missing data are in dep_delay and arr_delay columns

---
### Common Aggregation Functions:

|Function|Description
|-------|--------
|min   | minimum
|max   | maximum
|count   | number of non-null observations
|sum   | sum of values
|mean  | arithmetic mean of values
|median | median
|mad | mean absolute deviation
|mode | mode
|prod   | product of values
|std  | standard deviation
|var | unbiased variance

In [ ]:
# Find the number of non-missing values in each column
flights.describe()

In [ ]:
# Find mean value for all the columns in the dataset
flights.min()

In [ ]:
# Let's compute summary statistic per a group':
flights.groupby('carrier')['dep_delay'].mean()

In [ ]:
# We can use agg() methods for aggregation:
flights[['dep_delay','arr_delay']].agg(['min','mean','max'])

In [ ]:
# An example of computing different statistics for different columns
flights.agg({'dep_delay':['min','mean',max], 'carrier':['nunique']})

### Basic descriptive statistics

|Function|Description
|-------|--------
|min   | minimum
|max   | maximum
|mean  | arithmetic mean of values
|median | median
|mad | mean absolute deviation
|mode | mode
|std  | standard deviation
|var | unbiased variance
|sem | standard error of the mean
|skew| sample skewness
|kurt|kurtosis
|quantile| value at %

In [ ]:
# Convinient describe() function computes a veriety of statistics
flights.dep_delay.describe()

In [ ]:
# find the index of the maximum or minimum value
# if there are multiple values matching idxmin() and idxmax() will return the first match
flights['dep_delay'].idxmin()  #minimum value

In [ ]:
# Count the number of records for each different value in a vector
flights['carrier'].value_counts()

### Explore data using graphics

In [ ]:
#Show graphs withint Python notebook
%matplotlib inline

In [ ]:
#Use matplotlib to draw a histogram of a salary data
plt.hist(df['salary'],bins=8, normed=1)

In [ ]:
#Use seaborn package to draw a histogram
sns.distplot(df['salary']);

In [ ]:
# Use regular matplotlib function to display a barplot
df.groupby(['rank'])['salary'].count().plot(kind='bar')

In [ ]:
# Use seaborn package to display a barplot
sns.set_style("whitegrid")

ax = sns.barplot(x='rank',y ='salary', data=df, estimator=len)

In [ ]:
# Split into 2 groups:
ax = sns.barplot(x='rank',y ='salary', hue='sex', data=df, estimator=len)

In [ ]:
#Violinplot
sns.violinplot(x = "salary", data=df)

In [ ]:
#Scatterplot in seaborn
sns.jointplot(x='service', y='salary', data=df)

In [ ]:
#If we are interested in linear regression plot for 2 numeric variables we can use regplot
sns.regplot(x='service', y='salary', data=df)

In [ ]:
# box plot
sns.boxplot(x='rank',y='salary', data=df)

In [ ]:
# side-by-side box plot
sns.boxplot(x='rank',y='salary', data=df, hue='sex')

In [ ]:
# swarm plot
sns.swarmplot(x='rank',y='salary', data=df)

In [ ]:
#factorplot
sns.factorplot(x='carrier',y='dep_delay', data=flights, kind='bar')

In [ ]:
# Pairplot 
sns.pairplot(df)

---
*Excersize*

In [ ]:
#Using seaborn package explore the dependency of arr_delay on dep_delay (scatterplot or regplot) using flights dataset

---
## Basic statistical Analysis

### Linear Regression

In [ ]:
# Import Statsmodel functions:
import statsmodels.formula.api as smf

In [ ]:
# create a fitted model
lm = smf.ols(formula='salary ~ service', data=df).fit()

#print model summary
print(lm.summary())

In [ ]:
# print the coefficients
lm.params

In [ ]:
#using scikit-learn:
from sklearn import linear_model
est = linear_model.LinearRegression(fit_intercept = True)   # create estimator object
est.fit(df[['service']], df[['salary']])

#print result
print("Coef:", est.coef_, "\nIntercept:", est.intercept_)

---
*Excersize*

In [ ]:
# Build a linear model for arr_delay ~ dep_delay


#print model summary

---
### Student T-test

In [ ]:
# Using scipy package:
from scipy import stats
df_w = df[ df['sex'] == 'Female']['salary']
df_m = df[ df['sex'] == 'Male']['salary']
stats.ttest_ind(df_w, df_m)