In [1]:
#print alphabet A pattern
for row in range(0,7):
    for col in range(0,5):
        if ((col==0 or col==4) and (row!=0) or (row==0 or row==3) and (col>0 and
                                                                       col<4)):
            print("*",end="")
    
        else:
             print(end=" ")
            
    print()

 ***
*   *
*   *
*****
*   *
*   *
*   *

In [40]:
#print alphabet 0 pattern
for row in range(0,7):
    for col in range(0,5):
        if((col==0 or col==4 ) and (row!=0 and row!=6) or (row==0 or row==3 or row==6)
           and(col>0 and col<4)):
            print("*",end="")
        else:
            print(end=" ")
    print()

 ***
*   *
*   *
*****
*   *
*   *
 ***

In [43]:
#print alphabet c pattern
for row in range(0,7):
    for col in range(0,5):
        if((col==0 ) and (row!=0 and row!=6) or (row==0 or row==6)
           and(col>0 and col<4)):
            print("*",end="")
        else:
            print(end=" ")
    print()

 ***
*
*
*
*
*
 ***

In [45]:
#print alphabet d pattern
for row in range(0,7):
    for col in range(0,5):
        if((col==4 or col==2) and (row!=0 and row!=6) or (row==0 or row==6)
           and(col>0 and col<4)):
            print("*",end="")
        else:
            print(end=" ")
    print()

 ***
  * *
  * *
  * *
  * *
  * *
 ***

In [46]:
#print alphabet E pattern
for row in range(0,7):
    for col in range(0,5):
        if((col==0 ) and (row!=0 and row!=6) or (row==0 or row==6 or row==3)
           and(col>0 and col<4)):
            print("*",end="")
        else:
            print(end=" ")
    print()

 ***
*
*
****
*
*
 ***

In [48]:
#print alphabet F pattern
for row in range(0,7):
    for col in range(0,5):
        if((col==0 )  or (row==0 or row==3)
           and(col>0 and col<4)):
            print("*",end="")
        else:
            print(end=" ")
    print()

****
*
*
****
*
*
*

In [52]:
#print alphabet G pattern
for row in range(0,8):
    for col in range(0,8):
        if((col==0) or (col==4 and (row!=1 and row!=2)) or (row==0 or row==2 or row==4)
           and(col>0 and col<4)) or (row==3 and (col==3 or col==5)):
            print("*",end="")
        else:
            print(end=" ")
    print()

*****
*
****
*  ***
*****
*   *
*   *
*   *

In [53]:
#print alphabet H pattern
for row in range(0,7):
    for col in range(0,5):
        if((col==0 or col==4)  or (row==3)
           and(col>0 and col<4)):
            print("*",end="")
        else:
            print(end=" ")
    print()

*   *
*   *
*   *
*****
*   *
*   *
*   *

In [54]:
#print alphabet I pattern
for row in range(0,7):
    for col in range(0,5):
        if((col==2) or (row==0 or row==6)
           and(col>0 and col<4)):
            print("*",end="")
        else:
            print(end=" ")
    print()

 ***
  *
  *
  *
  *
  *
 ***

In [65]:
#print alphabet J pattern
for row in range(0,7):
    for col in range(0,6):
        if(( col==3) or (col==0 and(row!=1 and row!=2 and row!=3 and row!=4)) or
           (row==0 or row==6  and (col!=3 and col!=4 and col!=5))
           and(col>0 and col<6)):
            print("*",end="")
        else:
            print(end=" ")
    print()

******
   *
   *
   *
   *
*  *
****

In [6]:
#print alphabet K pattern
for row in range(0,7):
    for col in range(0,4):
        if((col==0 ) or(row==0 and ( col!=1 and col!=2)) 
           or (row==1 and (col!=1 and col!=3)) or (row==2 and 
                                                   (col!=2 and col!=3)) or (row==4 and (col!=2 and col!=3)) or
          (row==5 and(col!=1 and col!=3)) or (row==6 and (col!=1 and col!=2))):
            print("*",end="")
        else:
            print(end=" ")
    print()

*  *
* *
**
*
**
* *
*  *

In [9]:
#print alphabet L pattern
for row in range(0,7):
    for col in range(0,4):
        if((col==0) or (row==6)
           and(col>0 and col<4)):
            print("*",end="")
        else:
            print(end=" ")
    print()

*
*
*
*
*
*
****

In [10]:
#print alphabet M pattern
for row in range(0,8):
    for col in range(0,9):
        if((col==0 or col==8) or (row==1 and (col!=2 and col!=3 and col!=4 and
                                             col!=5 and col!=6)) or (row==2 and (
        col!=1 and col!=3 and col!=4 and col!=5 and col!=7)) or
                                 (row==3 and ( col!=1 and col!=2 and col!=4 and
                                             col!=6 and col!=7)) or (row==4 and(
                                 col!=1 and col!=2 and col!=3 and col!=5 and
                                 col!=6 and col!=7))
           and(col>0 and col<9)):
            print("*",end="")
        else:
            print(end=" ")
    print()

*       *
**     **
* *   * *
*  * *  *
*   *   *
*       *
*       *
*       *

In [11]:
#print alphabet N pattern
for row in range(0,7):
    for col in range(0,7):
        if((col==0 or col==6) or (row==1 and ( col!=2 and col!=3 and col!=4 and
                                             col!=5)) or (row==2 and(col!=1 and
                                                                    col!=3 and 
                                                                    col!=4 and
                                                                    col!=5))
           or(row==3 and (col!=1 and col!=2 and col!=4 and col!=5)) or 
           (row==4 and (col!=1 and col!=2 and col!=3 and col!=5)) or
           (row==5 and(col!=1 and col!=2 and col!=3 and col!=4))
           and(col>0 and col<7)):
            print("*",end="")
        else:
            print(end=" ")
    print()

*     *
**    *
* *   *
*  *  *
*   * *
*    **
*     *

In [37]:
#print alphabet P pattern
for row in range(0,7):
    for col in range(0,5):
        if col==0 or (col==4 and (row==1 or row==2) or (row==0 or row==3) and(col>0 and col<4)):
            print("*",end="")
        else:
            print(end=" ")
    print()

****
*   *
*   *
****
*
*
*