In [10]:
import cv2
cv2.__version__
import numpy as np
np.__version__
import pandas as pd
pd.__version__
import sklearn
sklearn.__version__

'0.22'

In [11]:
import numpy
print('numpy:{}'.format(numpy.__version__))

numpy:1.17.4

In [15]:
import pandas 
print('pandas:{}'.format(pandas.__version__))

pandas:0.25.3

In [21]:
import sys
print('python:{}'.format(sys.version))

python:3.6.9 |Anaconda, Inc.| (default, Jul 30 2019, 14:00:49) [MSC v.1915 64 bit (AMD64)]

In [4]:
import pandas
dataset=pandas.read_csv("D:/tableconvert_2019-12-26_145222.csv")

In [12]:
dataset.head()

   sepal.length  sepal.width  petal.length  petal.width variety
0           5.1          3.5           1.4          0.2  Setosa
1           4.9          3.0           1.4          0.2  Setosa
2           4.7          3.2           1.3          0.2  Setosa
3           4.6          3.1           1.5          0.2  Setosa
4           5.0          3.6           1.4          0.2  Setosa

In [17]:
dataset.tail(20)

     sepal.length  sepal.width  petal.length  petal.width    variety
130           7.4          2.8           6.1          1.9  Virginica
131           7.9          3.8           6.4          2.0  Virginica
132           6.4          2.8           5.6          2.2  Virginica
133           6.3          2.8           5.1          1.5  Virginica
134           6.1          2.6           5.6          1.4  Virginica
135           7.7          3.0           6.1          2.3  Virginica
136           6.3          3.4           5.6          2.4  Virginica
137           6.4          3.1           5.5          1.8  Virginica
138           6.0          3.0           4.8          1.8  Virginica
139           6.9          3.1           5.4          2.1  Virginica
140           6.7          3.1           5.6          2.4  Virginica
141           6.9          3.1           5.1          2.3  Virginica
142           5.8          2.7           5.1          1.9  Virginica
143           6.8          3.2           5.9          2.3  Virginica
144           6.7          3.3           5.7          2.5  Virginica
145           6.7          3.0           5.2          2.3  Virginica
146           6.3          2.5           5.0          1.9  Virginica
147           6.5          3.0           5.2          2.0  Virginica
148           6.2          3.4           5.4          2.3  Virginica
149           5.9          3.0           5.1          1.8  Virginica

In [32]:
# Example of creating Pandas series randomly:
import pandas as pd
import numpy as np
s1 = pd.Series( np.random.randn(4) )
print(s1)

0    0.349474
1    1.096268
2   -0.209381
3    3.078885
dtype: float64

We did not pass any index, so by default, it assigned the indexes ranging from 0 to len(data)-1

In [33]:
s1.index

RangeIndex(start=0, stop=4, step=1)

In [36]:
s2=pd.Series(np.random.randn(4),index=['a','b','c','d'])
s2

a   -1.812388
b   -0.407172
c    1.983846
d    1.804898
dtype: float64

In [1]:
#factorial number
num=0
for i in range(1,num+1):
    factorial=factorial*i
    print(num,factorial)

In [8]:
# Python code to demonstrate naive method 
# to compute factorial 
n = 23

fact = 1

for i in range(1,n+1): 
	fact = fact * i 
	
print ("The factorial of 23 is : ",end="") 
print (fact)

The factorial of 23 is :
25852016738884976640000

In [12]:
p=int(input("principal ammount"))
t=int(input("time"))
r=int(input("rate"))
z=(p*r*t)/100
print(z)

principal ammount3000
time7
rate1
210.0

In [2]:
# Compound Interest = P(1 + R/100)r
# Where,
# P is principle amount
# R is the rate and
# T is the time span
p=int(input("principal ammount"))
t=int(input("time"))
r=int(input("rate"))
z=(P(pow(1 + r/100)),t)
print(z)

principal ammount1200
time5
rate7

NameError: name 'P' is not defined

In [2]:
list1=["jack","robin","dick","hood"]
for name in list1:
    if"bin" in name:
        break
print(name)

robin

In [5]:
num=[6,9,3,1]
result1=sorted(num)
result2=sorted(num,reverse=True)
print(result2)

[9, 6, 3, 1]

In [22]:
num=[6,9,3,1]
result3=num.sort()
print(num)

[1, 3, 6, 9]

In [26]:
a=[(2,4),(1,7),(1,2),(2,9),(0,2),(1,0)]
print(sorted(a))

[(0, 2), (1, 0), (1, 2), (1, 7), (2, 4), (2, 9)]

In [28]:
a,b,c=1,2,3
a,b,c=c,a,b=b,a,c=c,b,a
print(a,b,c)

2 3 1

In [33]:
print("1\r2\r3")

3

In [36]:
a=[[1,2,3],
  [4,5,6],
  [7,8,9]]
d=[a[i][len(a)-1-i]for i in range(len(a))]
print(d)
len(a)

[3, 5, 7]

3

In [37]:
a=(4,2,8)
print(sorted(a))
b=(4,2,8)
print(b.sort())

[2, 4, 8]

AttributeError: 'tuple' object has no attribute 'sort'

In [42]:
a=[2]
a.append(a.append(3))
print(a)

[2, 3, None]

In [55]:
n=[1,2,3,4]
n.append([5,6])
n.extend([7,8,6])
print(len(n))
print(n)

8
[1, 2, 3, 4, [5, 6], 7, 8, 6]

In [61]:
a=2
def dosomething():
    a=3
    dosomething()
print(a)

2

In [62]:
d={i:i*i for i in range(5)}
print(d)

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16}