In [2]:
#indexing of string
s=input("  enter a string  ")
s=s.split()
print("first name",s[0][0])
print("middle name",s[1][0])
print("last name",s[2])

  enter a string  deepak kumar saini
first name d
middle name k
last name saini

In [4]:
#reverse a string
s=input("enter a string")
print(s[::-1])

enter a stringerfgert
tregfre

In [3]:
#index
s=("rahul kumar saini")
s=s.split()
print("first name",s[0])
print("second name",s[1])
print("third name",s[2])

first name rahul
second name kumar
third name saini

In [37]:

str1="hello deepak"
str1.capitalize()

'Hello deepak'

In [38]:
str1="""" hello deepak how are you hello deep hello"""
str1.count('hello')

3

In [39]:
str1="deepak.org"
str1.endswith("org")

True

In [40]:
str1="deepak.org"
str1.startswith("deepak")

True

In [41]:
str1="deepak saini"
str1

'deepak saini'

In [42]:
str1.find('i')

9

In [43]:
len(str1)

12

In [44]:
str1.split()

['deepak', 'saini']

In [45]:
str2="hii deepak singodiya"
str2.split()

['hii', 'deepak', 'singodiya']

In [46]:
str2.split('o')

['hii deepak sing', 'diya']

In [47]:
str2.title()

'Hii Deepak Singodiya'

In [48]:
str1="Aeepak Daini"
str1.lower()

'aeepak daini'

In [49]:
str1="DEEPAK SAINI"
str1.lower()

'deepak saini'

In [50]:
str="deepak saini"
str.upper()

'DEEPAK SAINI'

In [51]:
str1.islower()

False

In [52]:
str.islower()

True

In [53]:
str1.isupper()

True

In [54]:
str1="Deepak sAINI JI sinGodiya"
str1.swapcase()

'dEEPAK Saini ji SINgODIYA'

In [55]:
str1="hello welcome deepak"
str1.replace('deepak','rahul')

'hello welcome rahul'

In [56]:
str1.replace('e','r')

'hrllo wrlcomr drrpak'

In [57]:
str1.isdigit()

False

In [58]:
str="123456g"
str.isdigit()

False

In [59]:
str="12345"
str.isdigit()

True

In [60]:
str.isalpha()

False

In [61]:
str1="swdwg"
str1.isalpha()

True

In [62]:
str="!!!!!!!deepak!!!!!!!!!!!!!"
str.strip('!')

'deepak'

In [63]:
str="aaaaaaaaaaaadeepakaaaaaaaaaaa"
str.strip('a')

'deepak'

In [64]:
str="aaaaaaaaaaaahelloaaaaaahelloaaaaaaaaaa"
str.strip('a')

'helloaaaaaahello'

In [65]:
str="aaaaaaaahelloaaaaaaa"
str.lstrip('a')

'helloaaaaaaa'

In [66]:
str="aaaaaahelloaaaaaaaaaaaa"
str.rstrip('a')

'aaaaaahello'

In [67]:
str1="deepak"
str1.replace('de','sa')

'saepak'

In [74]:
    def char_swap(a,b):
        swap_a=b[:2] +a[2:]
        swap_b=a[:2] +b[2:]
        return swap_a+ ' ' +swap_b
    print(char_swap('deepak','saini'))

saepak deini

In [80]:
def char_swap(a,b):
    swap_a=b[:2] +a[2:]
    swap_b=a[:2] +b[2:]
    return swap_a+ ' ' +swap_b
print(char_swap('dee','sai'))

sae dei

In [83]:
str="singodiya ji deepak"
str.count('s')

1

In [87]:
str="red white black red green black"
str.replace("red","black","")

'black white black black green black'

In [8]:
str="python"
s="deepak"
print(str[0],s)

p deepak

In [9]:
str = "Hello"
str1 = " world"
print(str*3) # prints HelloHelloHello
print(str+str1)# prints Hello world
print(str[4]) # prints o
print(str[2:4]); # prints ll
print('w' in str) # prints false as w is not present in str
print('wo' not in str1) # prints false as wo is present in str1.
print(r'C://python37') # prints C://python37 as it is written
print("The string str : %s"%(str)) # prints The string str : Hello

HelloHelloHello
Hello world
o
ll
False
False
C://python37
The string str : Hello

In [18]:
Integer=10
Float=1.25
String="deepak"
print("i am integer......%d\n i am float.....%f\n i am string....%s"
      %(Integer,Float,String))

i am integer......10
 i am float.....1.250000
 i am string....deepak